.projects{
  box-sizing: border-box;
  
  #title{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: fit-content;
    font-size: 50px;
    font-weight: 600;
  }

  #description{
    position: relative;
    top: 11%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 70%;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: var(--gray2);
    transition: color 1s ease;
  }

  .filter-list{
    width: 70%;
    position: relative;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35px;

    .tag{
      margin-right: 15px;
      text-align: center;
      vertical-align: middle;
    }
  }

  .cards{
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    height: 70%;

    .row{
      display: flex;
      align-items: flex-start ;
      justify-content: center;
    }
  }


  $tabletBreakpoint: 991px;

  @media (max-width: $tabletBreakpoint) {

    #title{
      font-size: 30px;
    }

    #description{
      font-size: 14px;
    }

    .filter-list{
      width: 90%;
      height: 50px;
      flex-wrap: wrap;

      .tag{
        font-size: 10px;
      }
    }


    .cards {
      width: 75%;
      height: 65%;

      .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .project-card {
          width: 90%;

          .tags{
            .tag{
              font-size: 10px;
            }
          }
        }
      }
    }
  }

}