.projects{
  background-color: var(--gray5);
  box-sizing: border-box;
  
  #title{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: fit-content;
    font-size: 50px;
    font-weight: 600;
  }

  #description{
    position: relative;
    top: 11%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: fit-content;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
  }

  .cards{
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    height: 70%;

    .row{
      display: flex;
      align-items: flex-start ;
      justify-content: center;
    }
  }

  $tabletBreakpoint: 991px;

  @media (max-width: $tabletBreakpoint) {
    .cards {
      //display: flex;
      //align-items: center;
      //flex-direction: column;
      //justify-content: space-between;

      .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .project-card {
          width: 90%;
        }
      }
    }
  }

}