.project-card{

  background-color:#fff;
  color: #1c1c1c;
  border-radius: 15px;
  margin: 10px 10px;
  width: 230px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  .image{
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 140px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-size: cover;
    background-position: center bottom 15%;
  }

  .text{
    padding: 10px 10px;
    
    > * {
      padding: 3px 3px;
    }

    h3 {
      font-size: 16px;
      font-weight: 600;

    }

    .tags{
      display: flex;
      flex-direction: row;

      .tag {
        margin-right: 10px;
        padding: 2px 5px;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 700;

      }
    }

    .description {
      font-size: 12px;
      font-weight: 200;
      text-align: justify;
      text-justify: inter-word;
    }
  }

}