.topbar{
  width: 100%;
  height: fit-content;
  position: fixed;
  opacity: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  
  .wrapper{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .left{
      flex: 1;
      display: flex;
      justify-content: flex-start;
      font-size: 20px;

      h1{
        font-weight: 800;
      }
    }

    .socials{
      flex: 1;
      font-size: 25px;
      display: flex;
      justify-content: center;
      text-align: center;

      > * {
        padding: 0% 2%;
      }
    }

    .right{
      flex: 1;
      display: flex;
      justify-content: flex-end;
      text-align: center;
      font-weight: 700;
      font-size: 17px;

      > * {
        padding-left: 3%;
      }
      
      a::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--gray1);
        transition: all .5s;
      }

      //a:hover::after{
      //  width: 100%;
      //}

      a.active::after{
        width: 100%;
      }

    }
  }

  &.topbar-enter {
    opacity: 0;
  }

  &.topbar-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }

  &.topbar-exit {
    opacity: 1;
  }

  &.topbar-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

  &.topbar-exit-done {
    opacity: 0;
  }

  &.topbar-enter-done {
    opacity: 1;
  }

  $phoneBreakpoint: 481px;

  @media (max-width: $phoneBreakpoint) {

    .wrapper{
      .left{
        flex: none;
        font-size: 15px;
      }

      .center{
        flex:0;
      }

      .right{
        flex: 1;
        font-size: 14px;
      }

    }
      
  }
    
}
