.switch {
  background-color: var(--bg);
  cursor: pointer;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-top: 1px;
  input {
    display: none ;
  }

}