@import "../../global.scss";

.timeline-element{
  border-radius: 50px;
  position: absolute;
  padding-top: 10px;
  overflow: visible;

  .info{
    position: absolute;
    color: $darkPrimaryColor;
    top: 10px;
    padding-top: 5px;
    padding-left: 5px;

    h3{
      font-size: 15px;
    }

    p{
      font-size: 10px;
    }
  }
}