.intro{

  background-color: transparent;

  #c{
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .info{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);

    h1{
      font-size: 80px;
      font-weight: 600;
    }

    h4{
      font-size: 35px;
      font-weight: 300;
    }
  }

  p{
    font-size: 30px;
    font-weight: 200;
  }

  .arrow{
    position: absolute;
    width: fit-content;
    left: 50%;
    top: 95%;
    transform: translate(-50%, 0%);
    animation: MoveUpDown 1s linear infinite;;
  }

  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
  }

  $tabletBreakpoint: 991px;

  @media (max-width: $tabletBreakpoint) {
    #c{
      width: 100%;
      height: 100%;
      opacity: 1;
    }

    .info{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
    }
  }
    
}