@import '../../utils.scss';

.intro{

  background-color: transparent;

  #c{
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .info{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 50%;
    top: vh(50);
    transform: translate(-50%, -50%);
    width: 100vw;
    height: vh(40);

    > * {
      background: #1e3c72;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      
      
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    }


    h1{
      font-size: 50px;
      font-weight: 600;
    }

    h4{
      font-size: 22px;
      font-weight: 400;
    }
  }

  p{
    font-size: 30px;
    font-weight: 200;
  }

  .arrow{
    position: absolute;
    left: 47.5%;
    top: vh(93);
    transform: translate(-50%, -50%);
    animation: MoveUpDown 1s linear infinite;;
  }

  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
  }

  $tabletBreakpoint: 991px;

  @media (max-width: $tabletBreakpoint) {

    .info{
        
      h1{
        font-size: 40px;
        font-weight: 600;
      }

      h4{
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
    
}