.intro{

  background-color: transparent;

  #c{
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .info{
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 40vh;

    h1{
      font-size: 50px;
      font-weight: 600;
    }

    h4{
      font-size: 22px;
      font-weight: 400;
    }
  }

  p{
    font-size: 30px;
    font-weight: 200;
  }

  .arrow{
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, 0%);
    animation: MoveUpDown 1s linear infinite;;
  }

  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
  }

  $tabletBreakpoint: 991px;

  @media (max-width: $tabletBreakpoint) {

    .info{
        
      h1{
        font-size: 40px;
        font-weight: 600;
      }

      h4{
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
    
}