.experience{

  #title{
    position: relative;
    width: fit-content;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 50px;
  }

  .timeline {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .experience-description{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}