.experience-description {

  ul li { 
    display: list-item;
    list-style-type: circle;
}

  //background-color: gray;
  color: white;
  border-radius: 20px;
  width: 50%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;

  .left{
    flex:6;
    height: 50%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-between;
    //text-align: left;
    //text-justify: inter-word;

    h1{
      font-size: 20px;
    }

    h3{
      font-size: 15px;
    }

    h5{
      font-size: 12px;
    }

    ul{
      font-size: 12px;
    }

    > * {
      width: 100%;
    }
    
  }

  .right{
    flex: 6;
    height: 100%;

    img{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}