.experience{

  #title{
    width: fit-content;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 50px;
    font-weight: 600;
    z-index: 10;
  }

  #description{
    position: relative;
    top: 11%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 87%;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: var(--gray2);
    transition: color 1s ease;
  }

  .timeline {
    position: relative;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    
    width: 87%;
    height: 0;
  }


  $tabletBreakpoint: 991px;

  @media (max-width: $tabletBreakpoint) {
    
    #title{
      font-size: 30px;
    }

    #description{
      text-justify: inter-word;
      text-align: justify;
      font-size: 14px;

      p{
        margin-top: 10px;
      }
    }

    .timeline {
      position: relative;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -40%);
      width: 0;
      height: 60%;
    }
  }

}