.experience{

  #title{
    width: fit-content;
    position: absolute;
    top: calc(110vh);
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 50px;
    font-weight: 600;
    z-index: 10;
  }

  #description{
    position: absolute;
    top: calc(155vh);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: var(--gray2);
  }

  .timeline {

    //position: absolute;
    //top: calc(155vh);
    //left: 50%;
    //transform: translate(-50%, -50%);
    
    position: relative;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0%);
    background-color: blue;
    width: 87%;
    height: 15px;
  }



  $tabletBreakpoint: 991px;

  @media (max-width: $tabletBreakpoint) {
    
    #title{
      font-size: 40px;
    }

    #description{
      text-justify: inter-word;
      text-align: justify;
      font-size: 16px;

      p{
        margin-top: 10px;
      }
    }

    .timeline {
      background-color: var(--bg);
      width: 20px;
      height: 60%;
    }
  }

}