@import './utils.scss';

.app{

  &.theme-light {
    --bg: #f7f7f7;
    --gray1: #1c1c1c;
    --gray2: #414141;
    --gray3: #969696;
    --gray4: #e7e7e7;
    --gray5: #fff;
    --gray: #535353;
    --bg-gray: #e7e7e7;
    --blue: #0084FF;
    --bg-blue: #E6F3FF;
    --green: #00BA34;
    --bg-green: #E6F8EB;
    --orange: #F98600;
    --bg-orange: #f3e8db;
    --red: #E92C2C;
    --bg-red: #FFEBEB;
    --purple: #9a28e6;
    --bg-purple: #f1e5f5;
    --yellow: #ffdf00;
    --bg-yellow: #fffbe1;
    --pink: #d872cf;
    --bg-pink: #f8e2f6;
    --cyan: #00c5c5;
    --bg-cyan: #d0fafa;
  }
  
  &.theme-dark {
    --bg: #000;
    --gray1: #e7e7e7;
    --gray2: #d8d8d8;
    --gray3: #707070;
    --gray4: #313131;
    --gray5: #1d1d1d;
    --gray: #f0f0f0;
    --bg-gray: #535353;
    --blue: #e0edfa;
    --bg-blue: #168FFF;
    --green: #e8ffee;
    --bg-green: #28ce51;
    --orange: #fff4e8;
    --bg-orange: #ffa83d;
    --red: #ffe1e1;
    --bg-red: #EF4B56;
    --purple: #f2dfff;
    --bg-purple: #aa2efc;
    --yellow: #fdfae0;
    --bg-yellow: #f6e334;
    --pink: #ffe7fd;
    --bg-pink: #e47adb;
    --cyan: #ebffff;
    --bg-cyan: #00c5c5;
  }

  >*{
    background-color: var(--bg);
    color: var(--gray1);
    transition: background-color 1s linear, color 1s linear;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .lightModeSwitch{
    background-color: transparent;
    z-index: 3;
    position: fixed;
    bottom:10px;
    right:10px;
  }

  .sections{
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow: auto;
    flex: none;
    width: 100vw;
    height: vh(100);
    position: absolute;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar{
      display: none;
    }

    -webkit-overflow-scrolling: touch;

    > *{
      width: 100vw;
      height: 100%;
      scroll-snap-align: start;
      flex:none;
    }
  }

}